.Main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5rem;
    gap: 0.5rem;

    .Status {
        width: 100%;
        background-color: var(--card-bg-color);
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        &[data-status="error"] {
            background-color: var(--card-bg-error);
        }

        &[data-status="success"] {
            background-color: var(--card-bg-success);
        }

        &[data-status="warning"] {
            background-color: var(--card-bg-warning);
        }

        .Icon {
            width: 30px;
        }
    }


    .Action {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        margin-top: 0.5rem;
    }

    .Info {
        font-family: monospace, 'Courier New', Courier, sans-serif;
    }

    .Me {
        text-align: center;
        color: gray;
        font-size: 10px;
    }

}