:root {
    --card-bg-color: #f2f2f2;
    --card-bg-error: #f8d7da;
    --card-bg-success: #d4edda;
    --card-bg-warning: #fff3cd;
    --btn-bg: #f2f2f2;
    --btn-bg-hover: #e0e0e0;
    --btn-bg-active: #d0d0d0;
    --btn-border: #ccc;
    --btn-border-hover: #bbb;
    --text-color: #121212;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-bg-color: #222;
        --card-bg-error: #331d1d;
        --card-bg-success: #1d331f;
        --card-bg-warning: #352f1d;
        --btn-bg: #222;
        --btn-bg-hover: #333;
        --btn-bg-active: #444;
        --btn-border: #444;
        --btn-border-hover: #555;
        --text-color: #eee;
    }
}

html {
    color-scheme: light dark;
    width: 250px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a[href] {
    color: inherit;
}

.btn {
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border);
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.1s, border-color 0.1s;
    font-size: 12px;
    font-family: inherit;

    &:hover {
        background-color: var(--btn-bg-hover);
        border-color: var(--btn-border-hover);
    }

    &:active {
        background-color: var(--btn-bg-active);
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--btn-border);
    margin: 0.5rem 0;
}